body {
  font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  color: #fff;
  background-color: #563d7c;
  text-align: center;
}

.intro {
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.intro__title {
  font-size: 120px;
  line-height: 120px;
  margin-bottom: 0px;
}

.intro__subtitle {
  font-size: 16px;
}

.intro .form-group {
  margin-top: 40px;
}

.bottom-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  padding: 0px 10px;
  z-index: 3;
}

.bottom-menu__left_inspect {
  font-size: 14px;
}

a {
  color:white;
  text-decoration: none;
}

a:hover {
  color:#ffc107;
  text-decoration: none;
}

.browser {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 20px;
}

.fac-medium {
  font-size: 14px;
  padding: 0px 5px;
}

.toggled-on {
  color:#ffc107;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.loading{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #ffcb65;
  opacity: 0.9;
  bottom:20px;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: white;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.hidden {
  display: none;
}

